<ion-header>
  <ion-toolbar>
    <ion-title>{{ spellInfo.name }} Info</ion-title>
    <ion-buttons slot="end">
      
        <ion-icon size="large" name="close-outline"icon-only (click)="closeModal()"></ion-icon>
      
  </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <h1><strong>School:</strong> </h1><h2>{{ spellInfo.school }}</h2>
    <br>
    <h1><strong>Spell level:</strong> </h1><h2>{{ spellInfo.level }}</h2>
    <br>
    <h1><strong>Casting Time:</strong> </h1><h2>{{ spellInfo.casting_time }}</h2>
    <br>
    <h1><strong>Spell Range:</strong> </h1><h2>{{ spellInfo.range }}</h2>
    <br>
    <h1><strong>Spell Components:</strong></h1><h2>{{ spellInfo.components }}</h2>
    <br>
    <h1><strong>Spell Duration:</strong></h1><h2>{{ spellInfo.duration }}</h2>
    <br>
    <h1><strong>Spell Description:</strong> </h1><h2>{{ spellInfo.description }}</h2>
    <br>
    <h1><strong>Spell Lists: </strong></h1><h2>{{ spellInfo.spellList }}</h2>
  </ion-card-content>
  </ion-card>
</ion-content>
