<ion-header>
  <ion-toolbar>
    <ion-title>{{ weaponInfo.name }} Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <h1><strong>Weapon Properties:</strong> </h1><h2>{{ weaponInfo.properties }}</h2>
    <br>
    <h1><strong>Weapon Damage:</strong> </h1><h2>{{ weaponInfo.DMG }}</h2>
    <br>
    <h1><strong>Weapon Weight:</strong> </h1><h2>{{ weaponInfo.weight }}</h2>
    <br>
    <h1><strong>Weapon Type:</strong> </h1><h2>{{ weaponInfo.type }}</h2>
    <br>
    
  </ion-card-content>
  </ion-card>
</ion-content>
