<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>DM SQUIRE APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="log()">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="text" [(ngModel)]="mail" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <p class="ion-text-center">
      <ion-button type="submit" (click)="check()" >Log in</ion-button>
    </p>  
    <p class="ion-text-center">
      <ion-button type="submit" (click)="modalRegister()" >Register</ion-button>
    </p>  
  </form>
</ion-content>