<ion-header>
  <ion-toolbar>
    <ion-title>Spells</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

<ion-list>
  <ion-toolbar>
    <ion-searchbar #search (ionChange)="getItems($event)"></ion-searchbar>
  </ion-toolbar>

    <ion-item-sliding *ngFor="let spell of spellsF">
      <ion-item>
        <ion-label>
          <h2>{{ spell.name }}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options color="primary" side="end">
        <ion-item-option>
          <ion-button (click)="spellsModal(spell)">Show info:</ion-button>
        </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>



</ion-content>
