<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list style="text-align:center">
  <ion-button  class="ion-text-center" (click)="createpjModal()">Create PJ!</ion-button>
    <ion-item *ngFor="let pj of pjs">
     
        <ion-label>
          <h2><strong>Name: </strong>{{ pj.name }}<strong>  Level: </strong> {{ pj.level }}</h2>
          
        </ion-label>
      
      
      
        <ion-button color="danger" size="solid" (click)="showConfirm(pj.id)"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
       
      </ion-item>
    
  </ion-list>
</ion-content>
