<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon size="large" name="close-outline"icon-only (click)="closeModal()"></ion-icon>
      </ion-buttons>
      <ion-title>Create PJ Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="createPJ()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Level:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="level" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Alignment</ion-label>
      <ion-select [(ngModel)]="alignment"[ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let alignment of max" value="{{ alignment }}">{{ alignment }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>STR:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="STR" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    
     <ion-item>
      <ion-label>DEX:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="DEX" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>CON:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="CON" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>INTE:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="INTE" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>WIS:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="WIS" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>CHARI:</ion-label>
      <ion-input type="number" min="1" max="20" [(ngModel)]="CHARI" [ngModelOptions]="{standalone: true}" placeholder="Between 1-20 values"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Backgrounds</ion-label>
      <ion-select [(ngModel)]="background_id"[ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let background_id of backgrounds" value="{{ background_id.id }}">{{ background_id.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Races</ion-label>
      <ion-select [(ngModel)]="race_id"[ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let race_id of races" value="{{ race_id.id }}">{{ race_id.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Categories</ion-label>
      <ion-select [(ngModel)]="category_id"[ngModelOptions]="{standalone: true}">
        <ion-select-option *ngFor="let category_id of categorys" value="{{ category_id.id }}">{{ category_id.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="ion-text-center">
      <ion-button type="submit" >Guardar</ion-button>
    </p>  
  </form>
</ion-content>